<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Notes
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        link(rel="stylesheet", href="/css/main.css")
    body
        div.container
            div.container.header
                form(action="/", method="post", class="row")
                    input(type="text", name="noteText" placeholder="Enter note..." required="true")
                    input(type="submit", class="btn btn-primary")
            
            if isEmpty
                div.container.notes
                    each val, key in notes
                        div.row
                            div(class="col-8 badge badge-light text-wrap text-break")=val
                            div.col-1
                            div.col-1
                                a(class="btn btn-primary", href="/edit/" + key) Edit
                            div.col-1
                                a(class="btn btn-danger", href="/delete/" + key) Delete